src/flows/New_Customer_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>OpportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>OneMonthFromToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>creates_account</name>
        <label>creates account</label>
        <locationX>240</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>acc_Id</assignRecordIdToReference>
        <connector>
            <targetReference>creates_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>creates_contact</name>
        <label>creates contact</label>
        <locationX>104</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>creates_opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acc_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>creates_opportunity</name>
        <label>creates opportunity</label>
        <locationX>244</locationX>
        <locationY>387</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acc_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Opportunity_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OneMonthFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Company_Name}-{!Last_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>screen_with_five_fields</name>
        <label>screen with five fields</label>
        <locationX>146</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>creates_account</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>OpportunityStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>screen_with_five_fields</startElementReference>
    <variables>
        <name>acc_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>creates_account</elementReference>
        </value>
    </variables>
</Flow>
